<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>

<body>

<script th:src="@{/js/resetpw.js}"></script>
<div class="main-body">

    <nav th:replace="fragments::navbar-main"></nav>

    <main class="container extra-padding">
        <h1 th:text="${header}"></h1>
        <label for="email">Email address</label>
        <input id="email" name="email" type="email" value="" />
        <button id="resetpw" class="btn btn-primary">Submit</button>
    </main>

    <footer th:replace="fragments::footer"></footer>

</div>

</body>
</html>