<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container page-body">

    <header>
        <nav th:replace="fragments :: navigation-main"></nav>
    </header>

    <main class="container">

        <h1 th:text="${header}"></h1>
        <p>Fields marked with an asterisk (*) are required.</p>

        <form th:object="${user}" method="post">

            <div class="form-group row">
                <label th:for="username" class="col-sm-2 col-form-label">Username*</label>
                <div class="col-sm-7">
                    <input th:field="*{username}" class="form-control input-lg" />
                </div>
                <span th:errors="*{username}" class="text-danger"></span>
                <span th:text="${usernameTakenError}" class="text-danger col-sm-3"></span>
            </div>

            <div class="form-group row">
                <label th:for="password" class="col-sm-2 col-form-label">Password*</label>
                <div class="col-sm-7">
                    <input th:field="*{password}" type="password" class="form-control input-lg" />
                </div>
                <span th:errors="*{password}" class="text-danger col-sm-3"></span>
            </div>

            <div class="form-group row">
                <label for="passwordConfirm" class="col-sm-2 col-form-label">Confirm Password*</label>
                <div class="col-sm-7">
                    <input id="passwordConfirm" name="passwordConfirm" type="password" class="form-control input-lg" />
                </div>
                <span th:text="${passwordConfirmError}" class="text-danger col-sm-3"></span>
            </div>

            <input type="submit" value="Sign Up" class="btn btn-primary" />

        </form>

        <p>Return to the login page <a href="/login">here.</a></p>

    </main>

</div>

</body>
</html>