@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* TODO: Currently, the layout breaks at small size. Write media queries that ensure this doesn't happen. */

body {
    background-color:#B4E4DF;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.btn-primary {
    border-radius   : 0px;
    border          : 0px;
    background-color: #405D92;
    box-shadow      : 0px 5px 0px #8DA4CE;
    padding-top     : 4px;
    padding-bottom  : 4px;
    margin-top      : 6px;
    margin-bottom   : 6px;
}

.btn-primary:hover {
    background-color:#617CAD;
}

.center-block {
    display: table;
    margin: 0 auto;
    float: none;
}

.page-body {
    background-color:#E4F8F6;
    font-family: 'Josefin Slab', serif;
    padding-bottom: 0;
    padding-right:0;
    padding-left:0;
}

.navbar {
    background-color: rgba(51, 137, 128, 0);
    border-radius:0px;
    border: 0;
    padding-bottom: 4em;
    text-align: center;
}

.nav.navbar-nav li a, .nav.navbar-nav li p {
    color:#E4F8F6;
    border: 0.1em solid rgba(231, 231, 231, 0);
    border-radius: 1.7em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    margin-right: 1em;
    margin-left: 1em;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.nav.navbar-nav li a:hover{
    color: #B4E4DF;
    background-color: rgba(231, 231, 231, 0.1);
    border: 0.1em solid rgba(231, 231, 231, 0.4);
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

li.active a{
    background:
        linear-gradient(
              rgba(231, 231, 231, 0.45),
              rgba(231, 231, 231, 0.45)
            ),
        url('../img/luther_rose.png'),
        no-repeat,
        left top;
    background-size: 135%;
    color: #053028 !important;
    font-weight: bold;
    font-size: 1.3em;
}

.navbar-header .navbar-brand {
    color:#B4E4DF;
}

.navbar-header .navbar-brand:hover {
    color:#B4E4DF;
}

.nav-emphasis {
    color:#337ab7;
}

.navbar-form {
    margin:0px;
    padding-top:3px;
}

.dropdown-menu{
    background-color: rgba(231, 231, 231, 1);
}

.dropdown-item{
    color: #4c6184;
    display: block;
}

.post-cell-right {
    background-color:#DC8D52;
    box-shadow:0px 10px 0px #FFB782;
}

.post-cell-right-bottom {
    padding-top:0px;
    padding-bottom:0px;
    color:#FFECCA;
    background-color:#FFB782;
}

.post h2 {
    color:#405D92;
}

.post p, .post span {
    color:#405D92;
}
.post-body {
    font-size: 1.2em;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

.post-cell-right p, .post-signature p {
    color:#FFD382;
}

.post-signature {
    background-color:#DC8D52;
    box-shadow:0px 10px 0px #FFB782;
    margin-bottom: 15px;
    padding: 1.1em;
    width:50%;
}

.pager li a {
    border-radius:0px;
    border:0px;
    background-color:#338980;
    color:#E4F8F6;
    box-shadow:0px 5px 0px #82C7C0;
}

.pager li a:hover {
    background-color:#53A39A;
    color:#338980;
}

.inline {
    display:inline;
}

.header-wrapper{
    background-color: #70a6ff;
    background-image: url('../img/love.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-branding {
    color: #dee9fc;
    font-family: 'IM Fell English SC', serif;
    padding-top: 6.5em;
    padding-bottom: 6.6em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: center;
}

.nav-boxes{
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}
.nav-boxes img{
    width: 100%;
}
.nav-boxes .col h3{
    height: 25%;
    vertical-align: middle;
}

.carousel-wrapper{
    height: 25em;
    margin-top: 5em;
}
.carousel-wrapper img{
    height: 100%;
    padding: 0;
}
#worship-times{
    background-color: #2fce7e;
    font-size: 1.5em;
    height: 100%;
    padding-right: 5em;
    padding-left: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.contact-info{
	margin-top: 4em;
	height: 20em;
}
.contact-info div{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-left: 5em;
	padding-right: 5em;
}
.contact-info .fas{
	font-size: 1.5em;
}
#facebook-icon{
	color: #fff;
	font-size: 10em;
	transition: 0.2s;
    -webkit-transition: 0.2s;
}
#facebook-icon:hover{
	color: rgba(255, 255, 255, 0.4);
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

#contact-box{
	color: #fff;
	background-color: #2e9b87;
	background-image: url('../img/checkered_pattern.png');
	height: 100%;
}
#contact-box a{
    color: #56ffdf;
}
#facebook-info{
	background-color: #2d509b;
	background-image: url('../img/checkered_pattern_@2X.png');
	color: #fff;
	height: 100%;
}

.footer{
	background-color: #1c1a18;
	color: #fff;
	padding: 2em;
	text-align: right;
}

