@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color:#B4E4DF;
}

.btn-primary {
    border-radius   : 0px;
    border          : 0px;
    background-color: #405D92;
    box-shadow      : 0px 5px 0px #8DA4CE;
    padding-top     : 4px;
    padding-bottom  : 4px;
    margin-top      : 6px;
    margin-bottom   : 6px;
}

.btn-primary:hover {
    background-color:#617CAD;
}

.center-block {
    display: table;
    margin: 0 auto;
    float: none;
}

.page-body {
    background-color:#E4F8F6;
    font-family:'Lato', sans-serif;
    padding-bottom: 10px;
    padding-right:0px;
    padding-left:0px;
}

.navbar {
    background-color: rgba(51, 137, 128, 0);
    border-radius:0px;
    border: 0;
    padding-bottom: 4em;
    text-align: center;
}

.nav.navbar-nav li a, .nav.navbar-nav li p {
    color:#E4F8F6;
    border: 0.1em solid rgba(231, 231, 231, 0);
    border-radius: 1.7em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    margin-right: 1em;
    margin-left: 1em;
}

.nav.navbar-nav li a:hover{
    color: #B4E4DF;
    background-color: rgba(231, 231, 231, 0.1);
    border: 0.1em solid rgba(231, 231, 231, 0.4);
    transition: 0.3s;
}

li.active a{
    background:
        rgba(231, 231, 231, 0.4)
        url('../img/luther_rose.png')
        no-repeat
        left top;
    background-size: 135%;
    color: #fff;
}

.navbar-header .navbar-brand {
    color:#B4E4DF;
}

.navbar-header .navbar-brand:hover {
    color:#B4E4DF;
}

.nav-emphasis {
    color:#337ab7;
}

.navbar-form {
    margin:0px;
    padding-top:3px;
}

.dropdown-menu{
    background-color: rgba(231, 231, 231, 1);
}

.dropdown-item{
    color: #4c6184;
    display: block;
}

.post-cell-right {
    background-color:#DC8D52;
    box-shadow:0px 10px 0px #FFB782;
}

.post-cell-right-bottom {
    padding-top:0px;
    padding-bottom:0px;
    color:#FFECCA;
    background-color:#FFB782;
}

.post h2 {
    color:#405D92;
}

.post p, .post span {
    color:#405D92;
    font-family:'Lato Light', sans-serif;
}

p.body-text {
    font-family:'Lato Regular', sans-serif;
}

.post-cell-right p, .post-signature p {
    color:#FFD382;
}

.post-signature {
    background-color:#DC8D52;
    box-shadow:0px 10px 0px #FFB782;
    margin-bottom: 15px;
    width:50%;
}

.pager li a {
    border-radius:0px;
    border:0px;
    background-color:#338980;
    color:#E4F8F6;
    box-shadow:0px 5px 0px #82C7C0;
}

.pager li a:hover {
    background-color:#53A39A;
    color:#338980;
}

.inline {
    display:inline;
}

.header-wrapper{
    background-color: #70a6ff;
    background-image: url('../img/love.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-branding {
    color: #d1e2ff;
    padding-top: 6.5em;
    padding-bottom: 6.6em;
    padding-left 1.5em;
    padding-right: 1.5em;
    text-align: center;
}

.nav-boxes{
    display: flex;
    text-align: center;
}

.nav-boxes div{
    margin-left: 3em;
    margin-right: 3em;
}
.nav-boxes div img{
    width: 100%;
}
.nav-boxes div h3{
    height: 25%;
    vertical-align: middle;
}