<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<header th:fragment="header-wrapper" class="header-wrapper">
    <div class="site-branding">
        <img src="" th:src="@{/img/large_logo_3.png}" />
        <h3>"For God so loved the world, that he gave his only Son, that whoever believes in him should not perish but have eternal life."</h3>
        <h5>~John 3:16</h5>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li th:class="${homeActiveStatus}"><a th:href="@{/}">Home</a></li>
                    <li th:class="${aboutActiveStatus}">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Staff</a>
                            <a class="dropdown-item" href="#">What We Believe</a>
                            <a class="dropdown-item" href="#">Church History</a>
                        </div>
                    </li>
                    <li th:class="${psActiveStatus}"><a th:href="@{/preschool}">Preschool</a></li>
                    <li th:class="${ministriesActiveStatus}"><a th:href="@{/ministries}">Ministries</a></li>
                    <li th:class="${linksActiveStatus}"><a th:href="@{/links}">Links</a></li>
                    <li th:class="${contactActiveStatus}"><a th:href="@{/contact}">Contact</a></li>
                </ul>
                <form class="navbar-form form-inline navbar-left my-2 my-lg-0" method="get" th:action="@{/search}">
                    <div class="form-group">
                        <input type="text" name="searchTerm" class="form-control mr-sm-2" placeholder="Search this site..." />
                    </div>
                    <button type="submit" class="btn-primary my-2 my-sm-0">Go</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<section th:fragment="footer" class="row footer">
    <p>&copy; St. John's Lutheran Church 2018</p>
    <p>Designed and developed by Brendan T. McRae</p>
    <p>Powered by <a href="https://getbootstrap.com/">Bootstrap</a> and <a href="https://spring.io/">Spring</a></p>
</section>

</body>

</html>