<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container page-body">

    <header th:replace="fragments::header-wrapper"></header>

    <main class="container">

        <div th:class="${alertClass}" th:text="${alert}"></div>

        <section class="nav-boxes">
            <div>
                <h3>About Us</h3>
                <img src="" th:src="@{/img/abstract-ph.jpg}" />
            </div>
            <div>
                <h3>Preschool</h3>
                <img src="" th:src="@{/img/abstract-ph2.jpg}" />
            </div>
            <div>
                <h3>Calendar</h3>
                <img src="" th:src="@{/img/abstract-ph3.jpg}" />
            </div>
            <div>
                <h3>Sermons &amp; Newsletter</h3>
                <img src="" th:src="@{/img/abstract-ph4.jpg}" />
            </div>
        </section>

    </main>

</div>

</body>

</html>