<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container page-body">

    <header th:replace="fragments::header-wrapper"></header>

    <main class="container">

        <div th:class="${alertClass}" th:text="${alert}"></div>

        <section class="nav-boxes">
            <div>
                <h3>About Us</h3>
                <img src="" th:src="@{/img/abstract-ph.jpg}" />
            </div>
            <div>
                <h3>Preschool</h3>
                <img src="" th:src="@{/img/abstract-ph2.jpg}" />
            </div>
            <div>
                <h3>Calendar</h3>
                <img src="" th:src="@{/img/abstract-ph3.jpg}" />
            </div>
            <div>
                <h3>Sermons &amp; Newsletter</h3>
                <img src="" th:src="@{/img/abstract-ph4.jpg}" />
            </div>
        </section>

        <section class="row contact-info">

            <div id="contact-box" class="col col-md-6">
                <h3>Contact Info</h3>
                <p><i class="fas fa-map-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;1225 N Main St. Chatham</p>
                <p><i class="fas fa-phone"></i>&nbsp;&nbsp;&nbsp;(217) 483-2612</p>
                <p><i class="fas fa-envelope-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:stjohnslcms@comcast.net">stjohnslcms@comcast.net</a></p>
            </div>

            <div id="facebook-info" class="col col-md-6">
                <h3>Find Us On Facebook</h3>
                <a id="facebook-icon" href="https://www.facebook.com/st.church.94"><i class="fab fa-facebook"></i></a>
            </div>

        </section>

        <section class="row footer">
            <p>&copy; St. John's Lutheran Church 2018</p>
            <p>Designed and developed by Brendan T. McRae</p>
            <p>Powered by <a href="https://getbootstrap.com/">Bootstrap</a></p>
        </section>

    </main>

</div>

</body>

</html>