<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body>

<div class="container main-body">

    <nav th:replace="fragments::navbar-main"></nav>

    <main class="container main-column">

        <div th:class="${alertClass}" role="alert">
            <span th:utext="${alert}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <section class="page-body-fullwidth">

            <section class="row container">
                <h1 th:text="${header}"></h1>
                <p>
                    To sign up for an event, click the "Event Info/Signup" button below the event title, or simply click the event
                    title, then click "Sign up for this Event." <strong>If you sign up for an event by accident, or if you will no
                    longer be attending:</strong> please notify the church office at
                    <strong><a href="mailto:stjohnsoffice@comcast.net"> stjohnsoffice@comcast.net</a></strong>
                    or <strong>217-483-2612</strong> as soon as possible.
                </p>
            </section>

            <section class="row container">
                <div sec:authorize="${hasRole('ROLE_ADMIN')}" class="col col-lg-12 col-md-12 col-sm-12">
                    <a class="btn btn-primary" th:href="@{/events/schedule}">Schedule a Church Event</a>
                </div>
            </section>

            <article class="post" th:each="churchevent : ${churchevents}">

                <!-- TODO: Picture/icon corresponding to event type should be to the right of each box. -->

                <a th:href="@{'/events/viewevent/' + ${churchevent.id}}">
                    <h2 th:text="${churchevent.name}"></h2>
                </a>

                <div class="row">

                    <div class="cells">
                        <div class="col-lg-5 col-md-5 text-center post-cell-right">
                            <i class="far fa-calendar-alt inline">&nbsp;&nbsp;</i><h3 th:text="${churchevent.getTimeStamp()}" class="inline"></h3>
                            <h3 th:text="'Attendees: ' + ${churchevent.attendees.size()} + '/' + ${churchevent.attendeeCapacity}"></h3>
                            <h4 th:text="${churchevent.churchEventType.getDisplayName()}"></h4>
                            <a class="btn btn-success" th:href="@{'/events/viewevent/' + ${churchevent.id}}">Event Info/Signup</a>
                        </div>
                    </div>
                </div>

            </article>

        </section>

        <nav aria-label="...">
            <ul class="pager">
                <li><a th:href="@{'/events?page=' + ${page - 1}}" th:class="${visibilityPrev}">Previous Page</a></li>
                <li><a th:href="@{'/events?page=' + ${page + 1}}" th:class="${visibilityNext}">Next Page</a></li>
            </ul>
        </nav>

        <footer th:replace="fragments::footer"></footer>

    </main>

</div>

</body>

</html>