<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>

<div class="container main-body">
    <header th:replace="fragments::header-wrapper"></header>
    <nav th:replace="fragments::navbar-main"></nav>
    <main class="container">
        <div class="page-row">

            <article class="page-item">
                <h3>Pastor</h3>
                <div>
                    <img src="" th:src="@{/img/PASTOR_ROGERS.JPG}" />
                </div>
                <div th:replace="fragments :: staff-pastor-body"></div>
            </article>
            <article class="page-item">
                <h3>Preschool Teacher</h3>
                <div>
                    <img src="" th:src="@{/img/TINA_MCRAE.JPG}" />
                </div>
                <div th:replace="fragments :: staff-teacher-body"></div>
            </article>
            <article class="page-item">
                <h3>Preschool Aide</h3>
                <div>
                    <img src="" th:src="@{/img/DEB_TRAUTMAN.JPG}" />
                </div>
                <div th:replace="fragments :: staff-aide-body"></div>
            </article>
            <article class="page-item">
                <h3>Secretary</h3>
                <div>
                    <img src="" th:src="@{/img/JERI_ROGERS.JPG}" />
                </div>
                <div th:replace="fragments :: staff-secretary-body"></div>
            </article>


        </div>
        <footer th:replace="fragments::footer"></footer>
    </main>
</div>

</body>
</html>