<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container main-body">

    <header th:replace="fragments::header-wrapper"></header>

    <main class="container">
        <h1 th:text="${header}"></h1>
        <p>Fields marked with an asterisk (*) are required.</p>
        <form th:object="${post}" method="post">

            <div class="form-group row">
                <label th:for="title" class="col-sm-2 col-form-label">Post Title*</label>
                <div class="col-sm-7">
                    <input th:field="*{title}" class="form-control input-lg" />
                </div>
                <span th:errors="*{title}" class="text-danger col-sm-3"></span>
            </div>

            <div class="form-group row">
                <label th:for="author" class="col-sm-2 col-form-label">Author*
                    <a href="#" data-toggle="tooltip" title="Who wrote this news item?">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </a>
                </label>
                <div class="col-sm-7">
                    <input th:field="*{author}" class="form-control input-lg" />
                </div>
                <span th:errors="*{author}" class="text-danger col-sm-3"></span>
            </div>

            <div class="form-group row">
                <label th:for="body" class="col-sm-2 col-form-label">Body*
                    <a href="#" data-toggle="tooltip" title="Type your post here.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </a>
                </label>
                <div class="col-sm-7">
                    <textarea th:field="*{body}" class="form-control input-lg"></textarea>
                </div>
                <span th:errors="*{body}" class="text-danger col-sm-3"></span>
            </div>

            <div class="form-group row">
                <label th:for="imgUrl"  class="col-sm-2 col-form-label">Photo URL*
                    <a href="#" data-toggle="tooltip" title="Upload your image to an image host (such as imgur) then paste the direct link to it here.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </a>
                </label>
                <div class="col-sm-7">
                    <input th:field="*{imgUrl}" class="form-control input-lg" />
                </div>
                <span th:errors="*{imgUrl}" class="text-danger col-sm-3"></span>
            </div>

            <input type="submit" value="Post" class="btn btn-primary" />

        </form>

        <footer th:replace="fragments::footer"></footer>

    </main>

</div>

</body>
</html>