<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container page-body">

    <header>
        <nav th:replace="fragments :: navigation-main"></nav>
    </header>

    <main class="container">

        <div th:class="${alertClass}" th:text="${alert}"></div>

        <a class="btn btn-primary" th:href="@{/posts/newpost}">Share a Find</a>

        <p th:unless="${posts} and ${posts.getSize()}">There are currently no finds. Click 'Share a Find' Above to add one!</p>

        <article class="post" th:each="post : ${posts}">

            <h2>
                <a th:href="@{'/posts/viewpost/' + ${post.id}}" th:text="${post.title}"></a>
            </h2>

            <div class="row">

                <div class="cells">
                    <div class="col-lg-5 col-md-5 post-cell-left">
                        <img th:src="${post.imgUrl}" src="" class="img-responsive img-rounded" />
                    </div>

                    <div class="col-lg-5 col-md-5 text-center post-cell-right">
                        <h3 th:text="'Found by ' + ${post.author.username}"></h3>
                        <p class="lead" th:text="'Location: ' + ${post.location} + ', ' + ${post.address} + ', ' + ${post.city} + ', ' + ${post.state}"></p>
                        <p class="lead" th:text="'Album: ' + ${post.album}"></p>
                        <p class="lead" th:text="'Posted at: ' + ${post.timeStamp}"></p>
                        <p th:text="${post.getComments().size()} + ' comments'"></p>
                    </div>
                </div>
            </div>

        </article>

        <nav aria-label="...">
            <ul class="pager">
                <li><a th:href="@{'/posts?page=' + ${page - 1}}" th:class="${visibilityPrev}">Previous Page</a></li>
                <li><a th:href="@{'/posts?page=' + ${page + 1}}" th:class="${visibilityNext}">Next Page</a></li>
            </ul>
        </nav>

    </main>

</div>

</body>

</html>