<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body>

<div class="container main-body">

    <header th:replace="fragments::header-wrapper"></header>
    <nav th:replace="fragments::navbar-main"></nav>

    <main class="container main-column">

        <div th:class="${alertClass}" th:text="${alert}"></div>

        <a sec:authorize="${isAuthenticated()}" class="btn btn-primary" th:href="@{/news/new-post}">Create a News Item</a>

        <p th:unless="${posts} and ${posts.getSize()}">There are currently no items. Click 'Create a News Item' above to add one!</p>

        <article class="post" th:each="post : ${posts}">

            <h2>
                <a th:href="@{'/news/viewpost/' + ${post.id}}" th:text="${post.title}"></a>
            </h2>

            <div class="row">

                <div class="cells">
                    <div class="col-lg-5 col-md-5 post-cell-left">
                        <img th:src="${post.imgUrl}" src="" class="img-responsive img-rounded" />
                    </div>

                    <div class="col-lg-5 col-md-5 text-center post-cell-right">
                        <h3 th:text="'Posted by ' + ${post.author}"></h3>
                        <p class="lead" th:text="'at: ' + ${post.timeStamp}"></p>
                    </div>
                </div>
            </div>

        </article>

        <nav aria-label="...">
            <ul class="pager">
                <li><a th:href="@{'/news?page=' + ${page - 1}}" th:class="${visibilityPrev}">Previous Page</a></li>
                <li><a th:href="@{'/news?page=' + ${page + 1}}" th:class="${visibilityNext}">Next Page</a></li>
            </ul>
        </nav>

        <footer th:replace="fragments::footer"></footer>

    </main>

</div>

</body>

</html>