<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container main-body">

    <header th:replace="fragments::header-wrapper"></header>
    <nav th:replace="fragments::navbar-main"></nav>

    <main class="container main-column">

        <article class="post">
            <h2 th:text="${post.title}"></h2>
            <img th:src="${post.imgUrl}" src="" style="max-width:70%;" />
            <div class="post-body">
                <p th:text="${post.body}"></p>
            </div>
            <div class="post-signature">
                <p th:text="'Posted by ' + ${post.author}"></p>
                <span th:text="${post.timeStamp}"></span>
            </div>
        </article>

        <!-- Commenting out until implemented -->
        <!--
        <form th:object="${comment}" method="post">

            <div class="form-group">
                <div class="row">
                    <label th:for="text" class="col-sm-3 col-form-label">Write a Comment</label>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <textarea class="form-control" th:field="*{text}"></textarea>
                    </div>
                    <span th:errors="*{text}" class="text-danger col-sm-3"></span>
                </div>
            </div>

            <input class="btn-primary" type="submit" />

        </form>

        <article class="container comment" th:each="comment : ${comments}">
            <h6 th:text="${comment.author.username}"></h6>
            <p th:text="${comment.text}"></p>
        </article>

        -->

        <footer th:replace="fragments::footer"></footer>

    </main>

</div>

</body>
</html>