<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<div id="fb-root"></div>
<script th:src="@{/js/fb.js}"></script>
<div class="container main-body">

    <header th:replace="fragments::header-wrapper"></header>
    <nav th:replace="fragments::navbar-main"></nav>

    <main class="container main-column">

        <article class="post">
            <h2 th:text="${post.title}"></h2>
            <img th:src="${post.imgUrl}" src="" style="max-width:70%;" />
            <div class="post-body">
                <p th:text="${post.body}"></p>
            </div>
            <div class="post-signature">
                <p th:text="'Posted by ' + ${post.author}"></p>
                <span th:text="${post.timeStamp}"></span>
            </div>
        </article>

        <h3>Write a Comment</h3>
        <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>

        <footer th:replace="fragments::footer"></footer>

    </main>

</div>

</body>
</html>