<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container page-body">

    <header>
        <nav th:replace="fragments :: navigation-main"></nav>
    </header>

    <main class="container">

        <article class="post">
            <h2 th:text="${post.title}"></h2>
            <img th:src="${post.imgUrl}" src="" style="max-width:70%;" />
            <div class="post-signature">
                <p th:text="'Found at ' + ${post.location} + ', ' + ${post.address} + ', ' + ${post.city} + ', ' + ${post.state} + ' by ' + ${post.author.username}"></p>
                <p th:text="'Album: ' + ${post.album}"></p>
                <span th:text="${post.timeStamp}"></span>
            </div>
        </article>

        <form th:object="${comment}" method="post">

            <div class="form-group">
                <div class="row">
                    <label th:for="text" class="col-sm-3 col-form-label">Write a Comment</label>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <textarea class="form-control" th:field="*{text}"></textarea>
                    </div>
                    <span th:errors="*{text}" class="text-danger col-sm-3"></span>
                </div>
            </div>

            <input class="btn-primary" type="submit" />

        </form>

        <article class="container comment" th:each="comment : ${comments}">
            <h6 th:text="${comment.author.username}"></h6>
            <p th:text="${comment.text}"></p>
        </article>

    </main>

</div>

</body>
</html>